* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla';
  font-style: normal;
  color: #293264;
}

.yellow-blob {
  position: absolute;
  top: 0px;
  right: 0px;

}

.blue-blob {
  position: absolute;
  bottom: -15px;
  left: 0px;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
 
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;


}

.description {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.start-btn{
  margin-top: 40px;
  width: 193px;
  height: 52px;
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F5F7FB;
  cursor: pointer;

}

.start-btn:hover, .confirm-btn:hover {
  background: #374277;
}


.table {
  width: 399px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
 
}

.answers {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.question {
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
  margin-bottom: 10px;
}

.answer, .correct-answer {
  border: 0.8px solid #4D5B9E;
  border-radius: 7.94239px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  width: fit-content;
  background-color: transparent;
  color: #293264;
  padding: 5px 10px 5px 10px;
  margin: 0;
}

hr {
  margin-top: 15px;
  width: 100%;
  border-top: 1px solid #DBDEF0;
}

.confirm-btn {

  align-self: center;
  width: 120px;
  height: 35px;
  background: #4D5B9E;
  border-radius: 10px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: #F5F7FB;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.correct-answers {

    font-weight: 700;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;
    color: #293264;
}

@media (max-width: 600px) {
  .blue-blob {
   height: 15%;
  }
}